.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    min-width: 300px;
    margin: auto;
  }
  
  .input, .textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .textarea{
    min-height: 200px;
  }